.u-size-800 {
  font-size: var(--size-800, 1.953rem);
}

.u-size-700 {
  font-size: var(--size-700, 1.563rem);
}

.u-size-600 {
  font-size: var(--size-600, 1.25rem);
}

.u-size-500 {
  font-size: var(--size-500, 1rem);
}

.u-size-400 {
  font-size: var(--size-400, 0.8rem);
}